<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title>Tactical</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <a href="/games">Battles list</a>
</body>

<script type="application/javascript">
    window.onload = function() {
        var socket = io.connect('http://localhost:3001');

        socket.emit("ask.games");

        socket.on("receive.games", (data) => {

        });
    }
</script>

</html>