<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Tactical</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/lib/pixi.min.js"></script>
    <script src="/public/sprites.js"></script>
    <script src="/public/container.js"></script>
    <script src="/public/drawer.js"></script>
    <script src="/public/tactical-ui.js"></script>
    <script src="/public/socket-manager.js"></script>
</head>

<body>
</body>

<script type="application/javascript">
    window.onload = function () {
        const app = new PIXI.Application({ width: 1000, height: 600 });

        //Add the canvas that Pixi automatically created for you to the HTML document
        document.body.appendChild(app.view);

        const ui = new TacticalUI(app);
        const drawer = new Drawer(app);
        SocketManager.init(drawer, ui);
    }
</script>

</html>